@{
    ViewData["Title"] = "Modif";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home renovation /</span> Modif travaux</h4>
        <div class="row">
                <div class="col-xl">
                </div>
                <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Modifier le travaux</h5>
                    </div>
                    <div class="card-body">

                      <form action="@Url.Action("goModif", "Admin")" method="post">
                        <div class="mb-3">
                          <label class="form-label" >Num</label>
                          <input type="text" class="form-control" id="num" name="num" value="@Model.tache.num"/>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Designation</label>
                          <input type="text" class="form-control" id="designation" name="designation" value='@Model.tache.designation'/>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-company">Unite</label>
                          <input type="text" class="form-control" id="unite" name="unite" value="@Model.tache.unite"/>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-company">Prix unitaire</label>
                          <input type="number" class="form-control" value="@Model.tache.puDouble" name="pu"/>
                        </div>
                          <input type="hidden" class="form-control" value="@Model.tache.idTache" name="idTache"/>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="@Url.Action("listTravaux", "Admin")"><button type="button" class="btn btn-dark">Return</button></a>
                      </form>
                    </div>
                  </div>
                </div>

        </div>
    </div>
</div>
</div>
