@{
    ViewData["Title"] = "Check Date";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home renovation /</span> List demande</h4>
        <div class="row mb-5">
            <div class="card">
                <p class="card-header"></p>
                <div class="table-responsive text-nowrap">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Maison</th>
                        <th>Finition</th>
                        <th>Date debut</th>
                        <th>Date Fin</th>
                        <th>Total a payer</th>
                        <th>Detail Devis</th>
                        <th>Paye</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach(var d in Model.demandeList)
                        {
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i><strong>@d.typeMaison</strong></td>
                                <td>@d.finition</td>
                                <td>@d.dateDebut.ToString("MMMM dd, yyyy")</td>
                                <td>@d.dateFin.ToString("MMMM dd, yyyy")</td>
                                <td style="text-align: center;"><span class="badge bg-success">@d.etat</span></td>
                                <td style="text-align: right;">@(string.Format("{0:#,##0.00}", d.montantTotal)) Ar</td>

                                    @if(d.reste != 0){
                                        <form action="@Url.Action("payer", "Home")" method="post">
                                            <input type="hidden" name="idDemande" value="@d.idDemande">
                                            <td><button type="submit" class="btn btn-dark">Paye</button></td>
                                        </form>
                                    }
                                <td>
                                    @if(d.reste == 0){
                                    <form action="@Url.Action("livre", "Home")" method="post">
                                        <input type="hidden" name="idDemande" value="@d.idDemande">
                                        <button type="submit" class="btn btn-danger">Livre</button>
                                    </form>
                                    }
                                </td>
                                

                            </tr>
                        }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
        </div>
    </div>
</div>
